.profile-block{
    width:500px;
    height:auto;
    border-radius: 10px;
    border: 1px solid black;
    background-color: blanchedalmond
}
.profile-header{
    width:100%;
    height:300px;
    border-radius: 10px;
    background-color:aliceblue;
}
.profile-img-circle{
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
}